body {
  background-color: #ff4048;
  display: flex;
  min-height: 100vh;
}

.flex-container {
  margin: auto;
  background-color: #ff4048;
}

.principal {
    background-color: darkorange;
    min-height: 100vh;
    margin: auto;
}

.w3-container {
    min-height: 100vh;
    background-color: green;
}

.search {
    margin-top: 20px;
}